/* Style for all */
*{
  padding: 0;
  margin: 0;
  color: white;
  font-family: sans-serif, Arial
}

/* Style body */
body{
  background-color: #001;
}

/* Style div menu */
.img-box{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
  flex-shrink: 0;
}

.img-box img{
  height: 100%;
}

.profile{
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile h2{
  font-size: 20px;
  text-transform: capitalize; /*Capitalize first letter*/
}

.menu{
  background-color: #123;
  width: 54px;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
  transition: 0.4s;
}

.menu:hover{
  width: 260px;
}

ul{
  list-style: none;
  position: relative;
  height: 95%;
}

ul li a{
  display: block;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 40px; 
  transition: 0.3s;
}

ul li a:hover, .active{
  background-color: #ffffff55;
}

.log-out{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.log-out a{
  background-color: #a00;
}

ul li a i{
  font-size: 30px;
}

/* Style */